{
  "branches": [
      "main",
      {
        "name": "release",
        "prerelease": "beta"
      }
    ],
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} \n${nextRelease.notes}"

      }
    ],
    "@semantic-release/github"
  ]
}
